.idea
vendor/composer
node_modules
svn/*
dist/
!assets/index.php
package-lock.json
.DS_Store
assets
svn.php
svn
.phpunit.result.cache
mix-manifest.json
vendor/doctrine
vendor/phpunit
vendor/yoast
vendor/myclabs
vendor/nikic
vendor/phar-io
vendor/theseer
vendor/bin
vendor/sebastian
