.block-wrapper {
    width: 70%;
    background-color: #ebeef4;
    border: 1px solid #f9f6f6;
    min-height: 300px;
    margin: 0 auto;

    .ticket-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        background-color: #426fca;
        height: 60px;
        padding: 5px 5px 0 5px;
    }

    .ticket-table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #f9f6f6;
        text-align: center;

        &-header th {
            background-color: #426fca;
            color: #fff;
            padding: 5px;
            text-align: center;
            border-collapse: collapse;
            border: 1px solid #f9f6f6;
        }

        tbody td {
            padding: 5px;
            border-collapse: collapse;
            border: 1px solid #f9f6f6;
            text-align: center;
        }
    }

    .ticket-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        background-color: #426fca;
        height: 60px;
        padding: 5px 5px 0 5px;
    }
}

.block-wrapper {
    display: block;
    overflow: hidden;
    background: #ebeef4;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .show-ticket-header {
        .show-th-header {
            border-left: 0;
            border-right: 0;
            position: relative;

            .show-tk-subject {
                zoom: 1;
                word-break: break-word;
                padding-right: 215px;

                h2 {
                    color: #314351;
                    font-weight: 400;
                    line-height: 30px;
                    word-wrap: break-word;
                    font-size: 20px;
                    display: inline-block;
                    margin: 0;

                    .show-ticket-id {
                        margin-right: 10px;
                        font-size: 20px;
                        color: #93a1b0;
                    }
                }

                .show-tk-tags {
                    padding-left: 20px;
                    display: inline-block;

                    .show-badge {
                        background-color: #a5b2bd;
                        border-radius: 2px;
                        color: #fff;
                        display: inline-block;
                        font-size: 12.5px;
                        font-weight: 400;
                        padding: 4px 8px;
                        cursor: pointer;
                        line-height: 14px;
                        margin: 0 4px 0 0;
                    }

                    .show-badge-new {
                        text-transform: capitalize;
                        background: #f56c6c;
                    }
                }
            }

            .show-tk-actions {
                margin: 0;
                position: absolute;
                right: 0;
                top: -5px;
                width: auto;
            }

        }
    }

    .show-ticket-body {
        border: 1px solid #ebeef3;
        background: #ebeef3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .show-reply-box {
            .show-reply-text {
                width: 100% !important;
                height: 60px !important;
                border: 1px solid #e5e9ec;
                background: #e5e9ec;
                padding: 15px 20px;
            }
        }

        .show-threads-container {
            background: white;

            .show-thread {
                display: block;
                overflow: hidden;
                clear: both;
                position: relative;
                width: 100%;
                border-top: 1px solid #e5e9ec;

                .show-thread-content {
                    .show-avatar {
                        background: #f1f3f5;
                        border-radius: 50%;
                        box-shadow: none;
                        height: 46px;
                        width: 46px;
                        float: left;
                        margin: 25px 20px 25px 25px;

                        img {
                            border-radius: 50%;
                        }
                    }

                    .show-thread-wrap {
                        margin: 0 25px 0 72px;
                        padding: 25px;

                        .show-thread-message {
                            width: 100%;
                            overflow: auto;
                            line-height: 150%;

                            .show-thread-head {
                                zoom: 1;
                                min-height: 40px;

                                .show-thread-title {
                                    color: #8494a5;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 1.2em;
                                    margin-bottom: 12px;
                                    display: inline-block;
                                }

                                .show-thread-actions {
                                    float: right;
                                    color: #a5b2bd;
                                    text-align: right;
                                    font-size: 12px;
                                }
                            }

                            .show-thread-body {
                                color: #253642;
                                font-size: 14px;
                                line-height: 1.45em;
                                overflow-y: hidden;
                            }

                        }
                    }
                }
            }
        }
    }
}

.block-wrapper {
    .all-tickets-header {
        display: block;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px 20px;
    }

    .all-tickets-body {
        .all-tickets-table {
            border-collapse: collapse;
            color: #606266;
            width: 100%;

            thead {
                border-bottom: 2px solid #dddddd;
            }

            tbody {
                tr {
                    background-color: white;
                    border-bottom: 1px solid #dddddd;

                    .ticket-preview {
                        text-decoration: underline;
                        color: #314351;
                        font-size: 15px;
                    }

                    .ticket-thread-count, .ticket-status, .ticket-create-date {
                        min-width: 100px;
                    }

                    .ticket-thread-count .thread-count {
                        min-width: 25px;
                        text-align: center;
                        display: inline-block;
                        background: #f1f3f5;
                        border: 1px solid #d5dce1;
                        color: #a5b2bd;
                        font-size: 11px;
                        font-weight: 400;
                        padding: 0.1em 0.4em;
                        border-radius: 4px;
                    }

                    .ticket-status .ticket-status-content {
                        padding: 0 7px;
                        height: 20px;
                        color: #409eff;
                        border: .5px solid #409eff;
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    .all-tickets-footer {
        padding: 25px;
        margin-top: -23px;
        text-align: right;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .all-tickets {
        line-height: 1;
        white-space: nowrap;
        vertical-align: middle;
        background: #fff;
        border: 1px solid #dcdfe6;
        font-weight: 500;
        color: #606266;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        margin: 0;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 4px;

        &.btn-all {
            border-color: #409eff;
            box-shadow: -1px 0 0 0 #409eff;
        }

        &.btn-logout {
            margin-right: 2px;
        }

    }

    .all-tickets-header-left {
        width: 50%;
        float: left;
    }

    .all-tickets-header-right {
        float: right;
    }
}

