.fst_login_wrapper {
    max-width: 500px;
    form#loginform >p {
        display: block;
        margin-bottom: 15px;
    }

    form#loginform label {
        display: block;
        font-weight: 500;
    }

    form#loginform .input {
        padding: 10px;
        width: 100%;
        margin-top: 10px;
    }

    form#loginform {
        display: block;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
    }

    input#wp-submit {
        width: 100%;
        padding: 15px;
        background: #0275ff;
        color: white;
        border: 0;
        border-radius: 5px;
    }
}


.fst_front {
    .fframe_app {
        display: flex;
        .fframe_main-menu-items {
            width: 180px;
            margin-bottom: 0;
            ul.fframe_menu {
                margin: 0 !important;
                li {
                    width: 100%;
                }
            }
            .menu_logo_holder {
                margin: 0 auto;
                width: 100%;
                margin-left: 20px;
                margin-bottom: 15px;
            }
        }
        .fframe_body {
            flex: 1;
            overflow: auto;
            .fs_tickets_view {
                display: block;
                .inner_body {
                    width: 100%;
                    margin-top: 10px;
                }
                .inner_sidebar {
                    width: 100%;
                    padding-left: 0;
                    ul {
                        box-shadow: inset 0 -1px #e3e8ee;
                        li {
                            display: inline-block;
                            margin: 0;
                            a {
                                display: block;
                                margin: 0;
                                padding: 20px 15px;
                                &.router-link-exact-active {
                                    border-bottom: 1px solid #9e95d8;
                                    color: #02000c !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
