@import "./vendor";
@import "./variables";
@import "elements/nav";
@import "elements/tickets";
@import "elements/dashbord";
@import "elements/responsive";
@import "globals";

.#{slug} {
    &app * {
        box-sizing: border-box;
    }
}

.fframe_pagination_wrapper {
    margin-top: 15px;
    text-align: right;
}

#wpcontent, .fframe_app {
    background-color: $bodyBg;
    padding-bottom: 30px;
}

.fframe_body {
    margin-right: 20px;
    .inner_sidebar {
        padding: 0 15px 0 0;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                    color: #1d0e5a;
                    font-size: 12px;
                    display: block;
                    padding: .6875rem .5rem .6875rem 1rem;
                    border-radius: 3px;
                    &.router-link-exact-active {
                        border: 1px solid #e3e6ef;
                        box-shadow: 0 1px 4px rgb(18 25 97 / 8%);
                        background: white;
                    }
                    &.router_not_exactly_matched {
                        border: 0;
                        box-shadow: none;
                        background: transparent;
                    }
                }
            }
        }
    }
}

.fframe_body {
    .fs_settings_view {
        .inner_sidebar {
            width: 250px;
        }
        .inner_body {
            width: calc(100% - 250px);
            border-radius: 3px;
            box-shadow: 0 1px 4px rgb(18 25 97 / 8%);
        }
    }
}


.fst_front .fframe_body {
    margin-left: 20px;
}
