// text colors
.text {
    &-primary {
        color: #20a0ff
    }

    &-success {
        color: #13ce66
    }

    &-info {
        color: #50bfff
    }

    &-warning {
        color: #f7ba2a
    }

    &-bg-highlight {
        background: #EEEEEE;
    }

    &-danger {
        color: #ff4949
    }

    &-align {
        &-right {
            text-align: right;
        }

        &-center {
            text-align: center;
        }
    }
}

.clickable {
    cursor: pointer;
}

.content {
    &-center {
        display: flex;
        justify-content: center;
    }
}

.url {
    color: #0073aa;
    cursor: pointer;
}

// nullifiers
.no-hover {
    &:hover,
    &:focus {
        color: #606266 !important;
        background: transparent !important;
    }
}

.no-margin {
    margin: 0;

    &-bottom {
        margin-bottom: initial !important;
    }
}

// states
.exist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// margins
.mt25 {
    margin-top: 25px;
}

// floats
.float {
    &-right {
        float: right;
    }
}


.fs_box_wrapper {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    display: block;
    width: 100%;
    overflow: hidden;

    .fs_box_header {
        display: block;
        width: auto;
        border-bottom: 1px solid #e3e8ee;
        clear: both;
        overflow: hidden;
        margin: 0;
        padding: 10px 15px;
        background-color: #f9f9f9;
        font-weight: 500;
        color: #3C434A;

        .fs_box_head {
            float: left;

            h3 {
                display: inline-block;
                margin: 8px 20px 8px 0;
                padding: 0;
                font-size: 20px;
            }
        }

        .fs_box_actions {
            float: right;
        }
    }

    .fs_box_body {
        background: #fff;
        display: block;
        overflow: hidden;
        border-radius: 0 0 5px 5px;
    }
}

.el-dialog {
    border-radius: 5px;

    .el-dialog__header {
        background: #f1f2f5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid #c5c4c4;
    }

    .el-dialog__footer {
        background: #f1f2f5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: 1px solid #c5c4c4;
    }
}


.fs_row {
    display: block;
    overflow: hidden;

    .fs_half {
        width: 50%;
        float: left;
    }
}

.fs_padded_20 {
    padding: 20px;
}

span.fs_inline_avatars {
    img {
        display: inline-block;
        width: 24px;
        margin-bottom: -7px;
        margin-right: 5px;
        border-radius: 50%;
        border: 2px solid #67c23a;
    }
}

ul.fs_card_list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        margin: 0;
        padding: 8px 15px;
        border-bottom: 1px solid #e3e8ed;

        &:last-child {
            border: 0;
        }
    }
}

.fs_dashboard_box {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 1px solid rgb(226, 228, 231);
    box-shadow: 0 1px 4px rgb(18 25 97 / 8%);

    ul.fs_card_list li {
        span {
            line-height: 120%;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
        }

        &:hover {
            background: #f1f1f1;
        }

        a {
            color: #4f3d8e;
            display: flex;
            text-decoration: none;
            align-items: center;
        }
    }
}

.fs_inline_photo_40 {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
}


ul.fs_inner_menu_items {
    padding: 0;
    list-style: none;
    background: #f1f2f5;
    margin: -20px -20px 20px;

    li {
        display: inline-block;
        padding: 15px 15px 12px;
        margin: 0;
        cursor: pointer;

        &.fs_active_item {
            background: white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 0;
            font-weight: 500;
        }
    }
}

.fs_listed {
    list-style: disc;
    padding: 0px 0px 0px 20px;

    li {
        display: list-item;
    }
}

span.fs_ticket_id {
    font-size: 70%;
    color: gray;
    padding-right: 5px;
    vertical-align: top;
}

.fs_tags {
    display: inline-block;
    margin-left: 10px;
}

a.el-button {
    text-decoration: none;
}

.fs_narrow_promo {
    text-align: center;
    padding: 30px;
    max-width: 800px;
    margin: 20px auto;
    background: #f7fafc;
    border-radius: 5px;
}


table.fs_table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;

    th, td {
        padding: 10px;
    }

    tr {
        border: 1px solid #c7cfd7;
    }
}

.fs_pipe_box {
    max-width: 800px;
    padding: 30px 30px;
    margin: 30px auto;
    background: #f7fafc;
    text-align: center;
    border-radius: 5px;
}

.activities.fs_box_wrapper {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    @media all and (max-width: 767px) {
        padding: 0;
        & .fs_activity_header {
            line-height: 1.7em;
        }
    }

    & .fs_activity_header {
        line-height: 4;
        font-size: 20px;
        font-weight: bold;
        color: rgb(23, 133, 235);
        @media all and (max-width: 767px) {
            line-height: 1.7em;
        }
    }

    & h3 {
        padding: 0px 0px 17px 0px;
    }

    & .fs_box.fs_activity_box ul.fs_activities li {
        padding: 1em;
        color: gray;

        &:hover {
            background: #FAFDFF;
        }
    }

    & a.fs_link_trans {
        text-decoration: none;
        color: #1273cb;
        font-size: 14px;
    }

    & .fs_agent_activity {
        border-left: 2px solid #1785EB;
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
    }

    & .fs_activity {
        display: inline-flex;
        align-items: center;

        & img {
            width: 40px;
            margin-right: 1em;
            border-radius: 50%;
        }

        & span {
            font-size: 16px;
        }
    }
}

.fs_warn {
    background: #ffff78;
    padding: 8px 10px;
    line-height: 100%;
}

.fs_half_field {
    width: 50%;
    padding-right: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block !important;
    vertical-align: top;
    &:nth-child(2n+2) {
        display: inline-block;
        clear: both;
        padding-right: 0;
        padding-left: 10px;
    }
}

.fs_field_label {
    font-weight: 500;
}

.fs_permission_groups {
    padding: 15px;
    background: #f1f2f5;
    border-radius: 4px;
    h4 {
        margin: 0;
        padding: 0;
        font-size: 16px !important;
    }
}
