// text colors
.text {
    &-primary {
        color: #20a0ff
    }

    &-success {
        color: #13ce66
    }

    &-info {
        color: #50bfff
    }

    &-warning {
        color: #f7ba2a
    }

    &-bg-highlight {
        background: #EEEEEE;
    }

    &-danger {
        color: #ff4949
    }

    &-align {
        &-right {
            text-align: right;
        }

        &-center {
            text-align: center;
        }
    }
}

.clickable {
    cursor: pointer;
}

.content {
    &-center {
        display: flex;
        justify-content: center;
    }
}

.url {
    color: #0073aa;
    cursor: pointer;
}

// nullifiers
.no-hover {
    &:hover,
    &:focus {
        color: #606266 !important;
        background: transparent !important;
    }
}

.no-margin {
    margin: 0;

    &-bottom {
        margin-bottom: initial !important;
    }
}

// states
.exist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// margins
.mt25 {
    margin-top: 25px;
}

// floats
.float {
    &-right {
        float: right;
    }
}


.fs_box_wrapper {
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    display: block;
    width: 100%;
    overflow: hidden;
    .fs_box_header {
        display: block;
        width: auto;
        border-bottom: 1px solid #e3e8ee;
        clear: both;
        overflow: hidden;
        margin: 0;
        padding: 10px 15px;
        background-color: #f7fafc;
        font-weight: 700;
        color: #697386;
        .fs_box_head {
            float: left;
            h3 {
                display: inline-block;
                margin: 8px 20px 8px 0;
                padding: 0;
                font-size: 20px;
            }
        }
        .fs_box_actions {
            float: right;
        }
    }
    .fs_box_body {
        background: #fff;
        display: block;
        overflow: hidden;
    }
}

.el-dialog {
    border-radius: 5px;
    .el-dialog__header {
        background: #f1f2f5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid #c5c4c4;
    }
    .el-dialog__footer {
        background: #f1f2f5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: 1px solid #c5c4c4;
    }
}


.fs_row {
    display: block;
    overflow: hidden;
    .fs_half {
        width: 50%;
        float: left;
    }
}

.fs_padded_20 {
    padding: 20px;
}

span.fs_inline_avatars {
    img {
        display: inline-block;
        width: 24px;
        margin-bottom: -7px;
        margin-right: 5px;
        border-radius: 50%;
        border: 2px solid #67c23a;
    }
}

ul.fs_card_list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        margin: 0;
        padding: 8px 15px;
        border-bottom: 1px solid #e3e8ed;
        &:last-child {
            border: 0;
        }
    }
}

.fs_dashboard_box {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid rgb(226, 228, 231);
    ul.fs_card_list li {
        span {
            line-height: 32px;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
        }
        &:hover {
            background: #f1f1f1;
        }
        a {
            display: block;
            color: #4f3d8e;
        }
    }
}

.fs_inline_photo_32 {
    display: inline-block;
    margin-right: 5px;
    width: 32px;
    border-radius: 50%;
}
