$slug: 'fframe_';
$primary-color: rgb(47, 41, 37);
$bodyBg: #f1f2f5;

.el-button--success {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: #0cbe7e;
    --el-button-border-color: #0cbe7e;
    --el-button-hover-bg-color: #49c89f;
    --el-button-hover-border-color: #49c89f;
    --el-button-active-bg-color: #49c89f;
    --el-button-active-border-color: #49c89f;
}
