@import "~element-plus/theme-chalk/el-var.css";
@import "~element-plus/theme-chalk/el-loading.css";
@import "~element-plus/theme-chalk/el-icon.css";

.fst_client_portal {
    a.el-button {
        text-decoration: none;
    }

    .fs_tk_preview {
        text-decoration: none;
        color: #314351;
        font-size: 13px;

        p {
            padding: 0;
            margin: 0;
            text-overflow: ellipsis;
            width: 100%;
            height: 23px;
            white-space: pre-wrap;
            overflow: hidden;
            font-size: 14px;
            line-height: 23px;
        }

        strong {
            word-break: break-word;
        }
    }

    .el-form-item__error {
        position: relative;
    }

    span.fs_thread_count {
        background: #f1f3f5;
        border: 1px solid #d5dce1;
        color: #a5b2bd;
        font-size: 11px;
        font-weight: 400;
        padding: .1em .4em;
        border-radius: 4px;
        margin: 0 10% 0 20%;
    }

    .fs_badge {
        background: #a5b2bd;
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        font-size: 12.5px;
        font-weight: 400;
        padding: 4px 8px;
        cursor: pointer;
        line-height: 14px;
        margin: 0 4px 0 0;
        top: 6px;

        &.fs_badge_new {
            text-transform: capitalize;
            background: #f56c6c;
        }

        &.fs_badge_active {
            text-transform: capitalize;
            background: #56c288;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .fst_pagi_wrapper {
        margin-top: 20px;
        text-align: right;
    }

    .fs_threads_container {
        background: white;
    }

    .fs_th_header {
        border-left: 0;
        border-right: 0;
        position: relative;

        > hgroup {
            color: #111;
            position: relative;
        }

        span.fs_ticket_id {
            margin-right: 10px;
            font-size: 20px;
            color: #93a1b0;
        }

        .fs_tk_subject {
            zoom: 1;
            word-break: break-word;
            padding-right: 215px;

            h2 {
                color: #314351;
                font-weight: 400;
                line-height: 30px;
                word-wrap: break-word;
                font-size: 20px;
                display: inline-block;
                margin: 0;
            }

            .fs_tk_tags {
                padding-left: 20px;
                display: inline-block;

                span {
                }
            }
        }

        .fs_tk_actions {
            margin: 0;
            position: absolute;
            right: 0;
            top: -5px;
            width: auto;
        }
    }

    .fs_thread {
        display: block;
        overflow: hidden;
        clear: both;
        position: relative;
        width: 100%;
        border-top: 1px solid #e5e9ec;

        .fs_avatar {
            background: #f1f3f5;
            border-radius: 50%;
            -webkit-box-shadow: none;
            box-shadow: none;
            height: 46px;
            width: 46px;
            float: left;
            margin: 25px 20px 25px 25px;

            img {
                border-radius: 50%;
                max-width: 46px;
                max-height: 46px;
            }
        }

        &.fs_person_agent:after {
            content: "";
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #1785EB;
        }

        &.fs_person_agent:before {
            content: "Support Staff";
            position: relative;
            left: 0px;
            top: 0px;
            background: #1785EB;
            color: #fff;
            font-size: 10px;
            padding: 5px 10px;
        }
        &.fs_person_agent.fs_conv_type_ticket_merge_activity, &.fs_person_agent.fs_conv_type_ticket_split_activity {
            padding: 15px 0;
            &:after {
                display: none;
            }
            &:before {
                display: none;
            }
        }

        &.fs_conv_type_ticket_merge_activity, &.fs_conv_type_ticket_split_activity {
            background: #fbfaf9;

            .fs_avatar {
                display: none;
            }

            .fs_thread_wrap {
                margin: 0;
                padding: 10px 20px;

                .fs_thread_head {
                    min-height: auto;

                    .fs_thread_title {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .fs_thread_wrap {
        margin: 0 25px 0 72px;
        padding: 25px;

        .fs_thread_message {
            width: 100%;
            overflow: auto;
            line-height: 150%;
        }

        .fs_thread_head {
            zoom: 1;
            min-height: 40px;
        }

        .fs_thread_title {
            color: #8494a5;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.2em;
            margin-bottom: 12px;
            display: inline-block;

            strong {
                font-weight: 500;
                color: #253642;
            }
        }

        .fs_thread_actions {
            float: right;
            color: #a5b2bd;
            text-align: right;
            font-size: 12px;
        }

        .fs_thread_body {
            color: #253642;
            font-size: 14px;
            line-height: 1.45em;
            overflow-y: hidden;

            h1, h2, h3, h4, h5, h6 {
                margin: 10px 0px;
            }

            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 18px;
            }

            h3 {
                font-size: 16px;
            }

            h4, h5, h6 {
                font-size: 15px;
                font-weight: 500;
            }

            img, iframe, * {
                max-width: 100%;
            }

            ul {
                list-style: disc;
                padding: 0;
                margin: 15px 0 0;

                li {
                    font-size: 14px;
                    margin-left: 30px;
                    padding-left: 7px;
                }
            }

            pre, code {
                background: #e1ebee;
                font-family: "Courier 10 Pitch", Courier, monospace;
                font-size: 0.9376rem;
                line-height: 1.6;
                max-width: 100%;
                overflow: auto;
                padding: 1.5em;
                white-space: pre-wrap;

                code {
                    padding: 0;
                }
            }

            p, ul {
                code {
                    padding: 2px 5px;
                }
            }
        }
    }

    textarea.fs_reply_text {
        width: 100% !important;
        height: 60px !important;
        border: 1px solid #e5e9ec;
        background: #e5e9ec;
        padding: 15px 20px;
    }

    .fst_reply_box_focused {
        padding: 20px;
        background: #f1f2f5;
        border: 1px solid #e5e9ec;
    }

    .fs_no_attachment {
        width: 100% !important;
    }

    .fs_response_actions {
        padding-top: 10px;
        display: block;
        text-align: right;
    }

    .fs_close_checkbox {
        padding-right: 20px;
    }

    .fs_tk_actions {
        overflow: hidden;
        display: block;
        width: 100%;

        .fs_tk_left, .fs_tk_right {
            width: 50%;
            float: left;
        }

        .fs_tk_right {
            text-align: right;
        }
    }

    .fs_tk_header {
        display: block;
        width: 100%;
        overflow: hidden;
        background: #ebeef4;
        padding: 10px 20px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        h3 {
            color: #314351;
            font-weight: 400;
            line-height: 30px;
            word-wrap: break-word;
            font-size: 22.5px;
            margin: 0;
        }
    }

    .fs_tk_body {
        border: 1px solid #ebeef3;
        background: #ebeef3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .fs_ticket {
        .fs_tk_header {
            padding: 20px 20px;
        }
    }

    .fs_private_disc, .fs_public_disc {
        text-align: center;
        margin-top: 20px;
        font-size: 90%;
    }

    .fst_reply_box {
        background: white;
        padding: 15px 20px;
    }

    code, kbd {
        padding: 3px 5px 2px;
        margin: 0 1px;
        background: rgba(0, 0, 0, 0.07);
        font-size: 13px;
    }

    pre {
        background: #e1ebee;
        font-family: "Courier 10 Pitch", Courier, monospace;
        font-size: 0.9375rem;
        line-height: 1.6;
        max-width: 100%;
        overflow: auto;
        padding: 1.5em;
        white-space: pre-wrap;
    }

    .fst_file_lists {
        margin-top: 20px;
        border-top: 1px solid #bbb;
        padding-top: 10px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 10px;
                svg {
                    width: calc(100% - 97%);
                }
            }
        }
    }

    .fs_table {
        border-collapse: collapse;
        color: #606266;
        width: 100%;

        thead {
            background-color: white;
            border-bottom: 2px solid #dddddd;
            color: #646568;

            tr {
                text-align: left;

                th {
                    padding: 15px 15px;
                    font-weight: 500;
                }
            }
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border: 0;

            strong {
                font-weight: 500;
            }
        }

        .fs_tk_status, .fs_tk_date {
            min-width: 100px;
        }

        span.fs_tk_date {
            font-size: 12px;
            display: inline-block;
            line-height: 120%;
        }

        td.fs_thread_count {
            min-width: 30px;

            span {
                min-width: 25px;
                text-align: center;
                margin: 0;
                display: inline-block;
            }
        }

        tbody {
            tr {
                background-color: white;
                border-bottom: 1px solid #dddddd;

                &:last-of-type {
                    border-bottom: 2px solid #dddddd;
                }
            }

            tr:nth-of-type(even) {
                background-color: #FAFAFA;
            }
        }
    }

    .fs_btn {
        line-height: 1;
        white-space: nowrap;
        vertical-align: middle;
        background: #fff;
        border: 1px solid #dcdfe6;
        font-weight: 500;
        color: #606266;
        -webkit-appearance: none;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        cursor: pointer;
        -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 3px;

        &.fs_btn_success {
            color: #fff;
            background-color: #67c23a;
            border-color: #67c23a;
        }
        &.fs_btn_logout{
            color: #fff;
            background-color: #f56c6c;
            border-color: #f56c6c;
            margin-right:2px;
        }
    }

    .fs_button_groups {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;

        button {
            border-left: 0;
            border-radius: 0;

            &:first-child {
                border-left: 1px solid #dcdfe6;
                border-radius: 4px 0 0 4px;
            }

            &:last-child {
                border-radius: 0 4px 4px 0;
            }

            &.fs_btn_active {
                color: #fff;
                background-color: #409eff;
                border-color: #409eff;
                -webkit-box-shadow: -1px 0 0 0 #409eff;
                box-shadow: -1px 0 0 0 #409eff;
            }

            &:disabled {
                color: #C0C4CC;
                background-color: #FFF;
                cursor: not-allowed;
            }
        }
    }

    .fst_pagi_wrapper {
        padding: 10px 20px 20px;

        button {
            padding: 10px 15px;
        }
    }

    .el-form--label-top .el-form-item__label {
        line-height: 100%;
        font-weight: 500;
    }

    p.fs_tk_help {
        line-height: 120%;
        margin: 0;
        padding: 0;
        font-size: 90%;
        font-weight: normal;
        color: #76777b;
    }

    .el-form {
        .el-select {
            width: 100%;
        }

        .fs_tk_row {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            .fs_tk_col {
                flex: 1 1 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(even) {
                    padding-right: 0;
                }

                &:nth-child(odd) {
                    padding-left: 0;
                }

                @media all and (max-width: 768px) {
                    flex: auto;
                    width: 100%;
                    padding: 0;
                }

            }
        }

        input.el-radio__original, input.el-checkbox__original {
            display: none;
        }

        input.el-input__inner, textarea {
            line-height: 40px;
            padding: 0 15px !important;
            -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
            transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
        }

        input.el-input__inner {
                border: none;
        }

        textarea {
            border: 1px solid #cbd5e0 !important;
        }

        .el-button.el-button--success {
            color: #FFF;
            background: #67C23A;
            background-color: #67C23A;
            border-color: #67C23A;

            &:hover {
                background: #85ce61;
                border-color: #85ce61;
                color: #FFF;
            }
        }

        .wp-editor-tools button {
            background: inherit;
            color: inherit;
        }
    }

    .fc_custom_data_wrap {
        padding: 15px 30px;

        h3 {
            margin: 0px 0px 15px;
            padding: 0;
            font-size: 20px;
        }
    }

    @media all and (max-width: 768px) {
        .fs_thread_body {
            width: 100%;
        }
        .fs_th_header {
            > hgroup {
                display: flex;
                flex-direction: column-reverse;
            }

            .fs_tk_subject {
                width: 100%;
                padding-right: 0;
            }

            .fs_tk_actions {
                position: relative;
                width: 100%;
                border-bottom: 1px solid #a4b2bd;
                padding-bottom: 10px;
            }
        }
        .fs_thread {
            .fs_avatar {
                position: absolute;
                margin: 20px 0 0 15px;
                background: transparent;
                width: 30px;
                height: 30px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .fs_thread_wrap {
                width: 100%;
                margin: 0;
                padding: 20px 15px;

                .fs_thread_title {
                    padding-left: 15px;
                    font-size: 15px;
                }

                .fs_thread_head {
                    width: 100%;
                    padding-left: 16px;
                }
            }
        }

        .fc_custom_data_wrap {
            padding-top: 10px;

            h3 {
                font-size: 16px;
            }

            li {
                font-size: 14px;

                b {
                    font-weight: 500;
                }
            }
        }

        .fs_tk_header {
            .el-radio-button__inner {
                padding: 6px 10px;
            }

            .fs_tk_subject {
                h2 {
                    span {
                        font-size: 14px;
                    }

                    font-size: 16px;
                    font-weight: 500;
                }

                .fs_tk_tags {
                    display: block;
                    padding-left: 0;
                }
            }

            .el-button--small {
                min-height: 28px;
                font-size: 12px;
                border-radius: 3px;
            }
        }

        .fs_table {
            display: block;

            thead {
                display: none;
            }

            tbody tr, tbody td, tbody {
                display: block;
                border: 0;
            }

            tbody td {
                padding: 0 15px;
            }

            tbody tr {
                padding: 10px 0px;
            }

            tbody tr {
                td.fs_thread_count, .fs_tk_status, .fs_tk_date {
                    display: inline-block;
                    font-size: 12px;
                    padding: 0;
                    min-width: 0;
                }

                td.fs_thread_count {
                    padding-left: 10px;
                    display: inline-block;

                    span {
                        margin: 0;
                    }
                }

                .fs_tk_status {
                    padding: 0 10px;
                }
            }
        }

        .fs_tk_actions {
            .fs_btn {
                padding: 6px 9px;
            }
        }

        .fs_tk_create_head {
            .fs_tk_left {
                width: 70%;
            }

            .fs_tk_right {
                width: 30%;
            }

            h3 {
                font-size: 16px;
            }
        }

    }

}

.fs_row {
    display: block;
    overflow: hidden;

    .fs_half {
        width: 50%;
        float: left;
    }
}

.fs_attachments_form {
    padding: 10px 0 30px;
}

#fluent_support_client_app .el-table--fit.el-table table tr td {
    padding: 12px 0 !important;
}

.el-upload-list--picture {
    .el-upload-list__item.is-success {
        .el-upload-list__item-name {
            line-height: 2.4em;
        }
    }

    .el-upload-list__item-thumbnail {
        width: 42px !important;
        height: 2.6em !important;
        margin: 0;
        border-radius: 4%;
    }

    .el-upload-list__item {
        height: 4em;
        width: 14.8em;
        padding: 9px 8px;
        margin: .3em;
    }
}

ul.el-upload-list.el-upload-list--picture {
    display: -webkit-inline-box;
    display: -webkit-box;
}

.fc_custom_data_wrap {
    padding: 0 30px 20px;
    border-top: 1px solid #e5e9ec;
    background: #fffff4;

    > ul {
        display: block;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 10px;
        }
    }

    span.fs_custom_check_value {
        border: 1px solid #e5e9ec;
        border-radius: 3px;
        padding: 0 7px;
        margin-right: 10px;
    }
}

.fs_tk_suggestions {
    margin-bottom: 22px;

    p {
        margin-bottom: 10px;

        > .fs_tk_suggestion {
            text-decoration: none;
        }
    }

    .fs_tk_suggestion_articles {
        border-bottom: 1px solid #ebeef3;
    }
}

