.fs_tickets_view {
    display: flex;

    .inner_sidebar {
        width: 150px;
    }

    .inner_body {
        width: calc(100% - 150px);
    }

    .fs_tk_filters {
        padding: 20px;
        background: #ffffff;
        border-bottom: 1px solid gray;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        .fs_tk_filter {
            display: inline-block;
            padding-right: 10px;
            padding-bottom: 20px;

            > label {
                display: block;
                padding-bottom: 5px;
                font-size: 12px;
                color: #a4b2bd;
            }
        }
    }

    .fs_box_actions.fs_ticket_orders > div {
        width: 80%;
        float: left;
    }
    .fc_source_icon {
        padding-right: 5px;

        &.fc_source_icon_web, &.fc_source_icon_email, &.fc_source_icon_telegram, &.fc_source_icon_slack, &.fc_source_icon_whatsapp, &.fc_source_icon_webhook, &.fc_source_icon_awesome-support {
            vertical-align: middle;
            font-family: dashicons;
            span {
                display: none;
            }
        }

        &.fc_source_icon_web {
            &:before {
                content: "\f319";
            }
        }
        &.fc_source_icon_telegram, &.fc_source_icon_slack {
            &:before {
                content: "\f125";
            }
        }

        &.fc_source_icon_whatsapp {
            &:before {
                content: "\f19a";
            }
        }
        &.fc_source_icon_webhook {
            &:before {
                content: "\f124";
            }
        }

        &.fc_source_icon_email {
            &:before {
                content: "\f465";
            }
        }
        &.fc_source_icon_awesome-support {
            &:before {
                content: "\f524";
            }
        }
    }
}

.fs_view_ticket {
    display: flex;

    .fs_ticket_sidebar {
        width: 300px;

        ul {
            list-style: none;
            margin: 10px 0 0;
            padding: 0;

            li {
                margin-bottom: 10px;
            }
        }
    }

    .fs_ticket_body {
        width: calc(100% - 200px);
        height: fit-content;
        background: white;

        .fs_th_header {
            border: 1px solid #e5e9ec;
            border-left: 0;
            border-right: 0;
            padding: 16px 25px 24px;
            position: relative;

            .fs_header_group {
                color: #111;
                position: relative;
                display: flex;
                @media all and (max-width: 767px) {
                    flex-direction: column;
                    .fs_tk_badges {
                        margin-top: 15px !important;
                    }
                }

                .fs_tk_subject {
                    zoom: 1;
                    word-break: break-word;
                    width: 100%;
                    padding-right: 10px;
                    display: block;

                    h2 {
                        color: #314351;
                        font-weight: 400;
                        line-height: 27px;
                        word-wrap: inherit;
                        font-size: 20px;
                        display: inline-block;
                        margin: 0;
                        float: left;
                    }

                    .fs_tags {
                        margin: 5px 0 0 10px;
                        float: left;

                        .fs_add_tag_icon {
                            &:hover {
                                background: #4da4ff;
                                color: white;
                            }
                        }
                    }
                }

                .fs_tk_badges {
                    margin: 0;
                    min-width: 25em;
                    text-align: right;
                    @media all and (max-width: 767px) {
                        text-align: unset;
                    }

                    span.fs_ticket_id {
                        font-size: 14px;
                        color: #b9b9b9;
                        font-weight: 400;
                    }
                }
            }
        }

        .fs_thread {
            display: block;
            overflow: hidden;
            clear: both;
            width: 100%;
            border-top: 1px solid #e5e9ec;
            position: relative;

            .fs_avatar {
                background: #f1f3f5;
                border-radius: 50%;
                -webkit-box-shadow: none;
                box-shadow: none;
                height: 46px;
                width: 46px;
                float: left;
                margin: 25px 20px 25px 25px;

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }

            &.fs_person_agent:after {
                content: "";
                width: 4px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: #1785EB;
            }

            &.fs_person_agent:before {
                content: "Support Staff";
                position: relative;
                left: 0px;
                top: 0px;
                background: #1785EB;
                color: #fff;
                font-size: 10px;
                padding: 5px 10px;
            }

            &.fs_conv_type_note {
                background: #ffffc7;

                &:after {
                    background: #e6a23c;
                }

            }

            &.fs_conv_type_internal_info {
                background: #fbfaf9;

                .fs_avatar {
                    display: none;
                }

                .fs_thread_wrap {
                    margin: 0;
                    padding: 10px 20px;

                    .fs_thread_head {
                        min-height: auto;

                        .fs_thread_title {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.fs_conv_type_ticket_merge_activity, &.fs_conv_type_ticket_split_activity {
                background: #fbfaf9;

                .fs_avatar {
                    display: none;
                }

                .fs_thread_wrap {
                    margin: 0;
                    padding: 10px 20px;

                    .fs_thread_head {
                        min-height: auto;

                        .fs_thread_title {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .fs_thread_wrap {
            margin: 0 25px 0 72px;
            padding: 25px;

            .fs_thread_message {
                width: 100%;
                overflow: auto;
                line-height: 150%;
            }

            .fs_thread_head {
                zoom: 1;
                min-height: 40px;
            }

            .fs_thread_title {
                color: #7a7b7d;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.2em;
                margin-bottom: 12px;
                display: inline-block;

                strong {
                    font-size: 18px;
                    font-weight: 500;
                    color: #3e4245;
                }
            }

            .fs_thread_actions {
                float: right;
                color: #a5b2bd;
                text-align: right;
                font-size: 12px;

                .el-dropdown {
                    float: right;
                    color: black;
                    font-size: 16px;
                    line-height: 25px;
                }
            }

            .fs_thread_body {
                color: #253642;
                font-size: 14px;
                line-height: 1.45em;
                overflow-y: hidden;
                * {
                    position: inherit;
                }

                h1, h2, h3, h4, h5, h6 {
                    margin: 10px 0px;
                }

                img, iframe, * {
                    max-width: 100%;
                }

                ul {
                    list-style: disc;
                    padding: 0;
                    margin: 15px 0 0;

                    li {
                        font-size: 14px;
                        margin-left: 30px;
                        padding-left: 7px;
                    }
                }
            }
        }

        .fs_ticket_actions {
            padding: 5px 10px;
            display: block;
            overflow: hidden;

            .fs_product {
                @media all and (max-width: 767px) {
                    display: flex;
                }
                float: right;
                padding: 10px 15px 0 0;
                font-size: 16px;
                color: #99a5b4;
                cursor: pointer;

                & .fs_refresh_tk_page {
                    background: #e0e0e0;
                }

                & .fs_refresh_tk_page:hover {
                    background: #B9DAF9;
                    color: #000;
                    border-color: transparent;
                }
            }
        }

        pre {
            background: #e1ebee;
            font-family: "Courier 10 Pitch", Courier, monospace;
            font-size: 0.9375rem;
            line-height: 1.6;
            max-width: 100%;
            overflow: auto;
            padding: 1.5em;
            white-space: pre-wrap;

            code {
                padding: 0;
                margin: 0;
                background: transparent;
            }
        }
    }

    .fs_close_btn {
        margin-right: 10px;
    }
}

img.tk_customer_avatar {
    max-height: 40px;
    width: 40px;
    border-radius: 50%;
}

.el-table__row {
    span.fs_product {
        color: white;
        border: 1px solid gray;
        padding: 0px 5px;
        border-radius: 10px;
        background: gray;
    }
}

.fs_badge {
    background: #a5b2bd;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12.5px;
    font-weight: 400;
    padding: 3px 8px;
    cursor: pointer;
    line-height: 14px;
    margin: 0 4px 0 0;
    top: 6px;

    &.fs_badge_new, &.fs_badge_priority_critical {
        text-transform: capitalize;
        background: #fcd7d8;
        color: #f06060;
    }

    &.fs_badge_active {
        text-transform: capitalize;
        color: #12B881;
        background: #B8EAD9;
    }
}

.fs_create_response {
    padding: 20px;
    background: #f1f2f5;
    border: 1px solid #e5e9ec;
    position: relative;

    .fc_template_box {
        position: absolute;
        right: 20px;
        z-index: 10;
    }

    .fs_response_actions {
        padding-top: 10px;
        display: block;
        text-align: right;
    }

    &.fs_reply_type_note {
        background: #ffeaca;
    }

    .fs_attachments_form {
        padding: 20px 10px;
    }
}

.fs_tk_sidebar_wrap {
    margin-left: 20px;
}

.fs_tk_card {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 15px 20px 25px 20px;
    width: 100%;

    &.fs_tk_profile_card {
        padding-top: 45px;
        margin-top: 30px;
    }

    &.fs_tk_other_tickets_card {
        a {
            color: #556575;
            font-weight: 500;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.fs_tk_extra_card {
        overflow: auto;
        max-height: 22em;
    }

    .fs_avatar {
        background: #fff;
        border: 2px solid #fff;
        -webkit-box-shadow: 0 4px 6px rgb(147 161 175 / 50%);
        box-shadow: 0 4px 6px rgb(147 161 175 / 50%);
        float: left;
        height: 68px;
        margin: 0 0 -25px 13px;
        width: 68px;
        z-index: 2;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        left: 0px;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    .fs_tk_profile_name {
        color: #314351;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
    }

    .fs_tk_card_header {
        h3 {
            color: #314351;
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            position: relative;
            padding: 0;
        }
    }

    .dashicons, .dashicons-before:before {
        text-decoration: none;
        font-size: 14px;
    }
}

.fs_tk_preview {
    text-decoration: none;
    color: #314351;
    font-size: 13px;

    p {
        padding: 0;
        margin: 0;
        text-overflow: ellipsis;
        width: 100%;
        height: 18px;
        white-space: normal;
        overflow: hidden;
    }
}

span.fs_thread_count {
    background: #f1f3f5;
    border: 1px solid #d5dce1;
    color: #a5b2bd;
    font-size: 11px;
    font-weight: 400;
    padding: .1em .4em;
    border-radius: 4px;
}

span.fs_agent_photo_icon img {
    max-width: 30px;
    border-radius: 50%;
    margin: -4px 0px;
}

.fs_active_agents {
    display: block;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    right: -1px;
    bottom: -2px;
    border: 1px solid #5f6dbd;
    z-index: 99999999;
    background: #f1f2f5;
    color: #5d6cc3;
    box-shadow: -1px -1px 12px 1px #cccccc;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            vertical-align: middle;
            padding-right: 10px;

            &.fs_active_agent_title {
                font-weight: bold;
            }
        }
    }
}


.doc_blocks {
    padding-top: 10px;

    ul {
        margin: 10px 0px;
        padding-left: 25px;
        list-style: disc;

        li {
            cursor: pointer;
            margin-bottom: 7px;
        }
    }
}

.fs_tk_other_tickets_card {
    max-height: 200px;
    overflow: auto;
}


.fs_tags_add_wrapper {
    h3 {
        margin: 0 0 10px;
    }

    ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        border-left: 1px solid transparent;
        max-height: 200px;
        overflow: auto;

        li {
            display: block;
            cursor: pointer;
            padding: 5px;

            &:hover {
                color: #15be7c;
                border-left: 1px solid #15be7c;
            }
        }
    }
}

.fs_add_tag_icon {
    font-size: 13px;
    padding: 3px 5px;
    line-height: 8px;
    min-height: 18px;
    margin-left: 5px;
    color: #48a1ff;
    border-color: #b3d8fe;
    vertical-align: bottom;
}

.fc_custom_data_wrap {
    padding: 30px 30px 20px;
    border-top: 1px solid #e5e9ec;
    background: #fffff4;

    > ul {
        display: block;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 10px;
        }
    }

    span.fs_custom_check_value {
        border: 1px solid #e5e9ec;
        border-radius: 3px;
        padding: 0 7px;
        margin-right: 10px;
    }
}


ul.fs_tk_actions {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;

    li {
        cursor: pointer;
        padding: 10px 4px;
        display: inline-block;
        margin: 0;
        vertical-align: bottom;

        i {
            font-size: 24px;
            line-height: 30px;
        }

        &.fs_add_reply, &.fs_add_note, &.fs_add_workflow {
            padding: 5px 9px;
            display: inline-block;
            background: #e0e0e0;
            margin: 5px;
            border-radius: 10%;

            &.fs_action_active {
                background: #B9DAF9;
            }
        }
    }
}

.fs_bulk_actions_bar {
    position: fixed;
    top: 100px;
    background: #322828;
    color: white;
    border-radius: 6px;
    left: 45%;
    z-index: 100;

    ul {
        li {
            padding: 0;

            > i, > .fs_workflow_pop > i{
                padding: 10px 20px;
                height: auto;
                width: auto;
            }
            &:not(:last-child) {
                border-right: 1px solid white;
            }
        }
    }
}
//For frontend agent portal
.fst_front{
    .fs_bulk_actions_bar ul li > i,
    .fs_bulk_actions_bar ul li > .fs_workflow_pop > i {
        padding: 0 2px;
        margin: 8px;
    }
}

.fs_crm_profile {
    border-top: 1px solid #e1e2e5;
    padding-top: 20px;
    margin-top: 17px;

    .fs_crm_heading {
        margin-bottom: 5px;

        img {
            margin-right: 0px;
        }

        a {
            display: flex;
            text-decoration: none;

            span.el-tag {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-left: -2px;

                &.fc_status_subscribed {
                    background-color: #7742e6;
                    border-color: #7742e6;
                    color: white;
                }
            }
        }
    }

    .fs_crm_profile_title {
        display: block;
        color: #f06060;
        margin-bottom: 15px;
    }

    .fs_taggables {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        .fs_taggables_header {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 5px;
            .dashicons {
                font-size: 15px;
                margin-right: 0;
                color: #b5b5b5;
                margin-top: 4px;
            }

            .fs_add_tag_icon {
                padding: 5px 12px;
                border: 1px solid #dcdfe6;
                background: none;
                transition: .3s;
                &:hover {
                    background: var(--el-color-primary);
                    border-color: var(--el-color-primary);
                    color: #ffffff;
                }
            }
        }
        .el-tag {
            word-break: break-all;
            white-space: break-spaces;
            height: inherit;
            padding: 5px 9px;
            line-height: 16px;
            margin: 0;
            background: #e6ebf0;
            color: #000000;
            border: none;
        }
    }
}

.fs_template_inserter {
    .fs_row {
        display: flex;
        align-items: center;
        gap: 10px;
        .fs_half {
            flex: 1;
        }
    }
}

.fs_widget_li code {
    padding: 0 0 0 3px;
}

.fs_tk_create_customer {
    background: #eff7ff;
    padding: .6em .6em;
    border-radius: .2em;
}
