.fs_workflow_type_info {
    border-radius: 4px;
    word-break: break-word;

    .fs_workflow_info_header {
        padding: 15px 20px;
        border: 1px solid #addbff;
        background-color: #d6edff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .fs_workflow_info_body {
        padding: 15px 20px;
        border: 1px solid #addcfe;
        border-top: 0;
    }
}


.fs_workflow_edit_wrap {
    margin: 0 auto;
    max-width: 1100px;

    .fs_workflow_trigger_box {
        background: white;
        padding: 15px 20px;
        border-radius: 4px;
    }
}


.fcon_trigger_view {
    margin: 0 -20px 10px;
    border-bottom: 1px solid #e3e8ed;
    padding: 0px 20px 10px;

    .fcon_provider_info {
        display: flex;
        align-content: center;
        align-items: center;
        cursor: pointer;

        .fc_trigger_logo {
            margin-right: 20px;

            img {
                width: 32px;
            }
        }

        .fc_trigger_titles {
            flex-grow: 1;
            font-size: 17px;

            span.fc_item_open {
                float: right;
            }
        }
    }

    .fcon_trigger_editor {
        overflow: hidden;
        padding: 15px 20px;
        background: #f7fafc;
        margin-bottom: 20px;
    }
}

span.fs_trigger_sub {
    padding-left: 15px;
    font-size: 90%;
    color: gray;
}

.fs_condition_line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;

    .fs_cond_block {
        padding-right: 20px;
        flex-basis: 30%;

        &.fs_cond_action {
            text-align: right;
            flex-basis: 5%;
        }
    }

    .fc_cond_value {
        flex-basis: 50%;
    }
}

p.fs_cond_or {
    text-align: center;
    color: gray;
    margin: 0 0 5px;
    padding: 0;
}

.fs_cond_and {
    text-align: center;
    color: gray;
    margin: 0 0 35px;
    padding: 0;
    border-bottom: 1px dashed #d5dce1;

    em {
        background: #fff;
        font-size: 1.2em;
        font-style: normal;
        margin: 0 10px;
        padding: 0 10px;
        position: relative;
        top: 9px;
    }
}

.fs_conditional_group {
    background: #f9fafa;
    border: 1px solid #d5dce1;
    border-radius: 3px;
    margin-bottom: 20px;
}


ul.fs_workflows_list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 250px;
    overflow-y: auto;

    li {
        display: block;
        padding: 8px 10px;
        margin: 0;
        cursor: pointer;

        &:hover {
            background: #f1f2f5;
        }
    }
}

.fs_workflow_desc {
    margin-bottom: 30px;

    h3 {
        font-weight: normal;
    }
}

ul.fs_workflow_items {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #314351;
    border: 1px solid #c5ced6;
    background: #fff;

    li {
        font-size: 15px;
        padding: 10px 15px;
        margin: 0;
        border-bottom: 1px solid #F0F0F0;

        span {
            display: inline-block;
            line-height: 17px;
            font-size: 11px;
            font-weight: 700;
            -webkit-font-smoothing: antialiased;
            color: #fff;
            text-transform: uppercase;
            background: #95979B;
            border-radius: 3px;
            padding: 0 3px;
            margin: 0 4px;
        }
    }
}
